{% extends 'registers/base.html' %}
{% load static %}
{% block content %}
<title>Start</title>

<div class="container-sm">
<br>
    <div class="row">
        <div class="col-md-10">

            <div>
            This personal finance accounting and analysis system is extremely lightweight and is quite sufficient for most users.
            There is everything for one wallet in one currency.
            First, you can see how everything works in demo mode. Try to analyze the already entered information.
            </div><br>
            <div>
                <p>To start keeping your own account, create your own account and log in.
                Your workplace is ready.</p>
                <p>To organize an effective accounting of financial resources, you need to take 5 simple steps:</p>
                </div>
            <ul>
                <li>	Step 1. Create lists of counterparties and items of income and expenses on the Reference books page</li>
                <li>	Step 2: Record your income here on the Income page</li>
                <li>	Step 3. Write down your expenses every day on the Payments page</li>
                <li>	Step 4. Look at the reports using different filters on the Reports page</li>
                <li>	Step 5: Analyze data through visual charts on the Diagrams page</li>
            </ul>
            <br>
            <div>
                You can edit or delete incorrect entries.
                Use the filter system to easily find the information you need.
                And then analyze the information received with the help of reports and charts.
                Reports can be viewed for any period, as well as for certain counterparties or cash flow items.
            </div><br>
        </div>
    </div>



{% endblock %}