{% extends 'registers/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}


<link rel="stylesheet" type="text/css" href="registers/style.css"/>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 border p-3 shadow">
                <form  method='GET'>
                    <div class="row p-2 g-3">
                        <div class="col-md-10">
                            <h4>Set year:</h4>
                            {% csrf_token %}
                            {{ form|crispy }}
                            <br>
                            <button class="btn btn-info" type="submit" name="btn_show">SHOW</button>
                        </div>
                    </div>
                </form>
            </div>
        <div class="col-md-10 border p-3 shadow">
            <div class="row">
                <h4>Cash flow</h4>
                <div class="table-responsive" style="height: 400px">
                    <table class="table table-sm table-striped">
                        {{  data|safe }}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}