{% extends "registers/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}
  <div class="row p-2 justify-content-center">
        <div class="col-md-4 border p-3 shadow">
            <h4>Create an account</h4>
              <form method="post" action="{% url 'django_registration_register' %}">
                  {% csrf_token %}
                  {{ form|crispy }}

                  <input class="btn btn-info btn-block" type="submit"  value="Create">
                <div class="form-error">{{ f.error }}</div>
              </form>
        </div>
  </div>

{% endblock %}